*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.area-header{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: #fbead4;
}
.area-cadastro{
    background-color: #3b9140;
    width: 38vw;
    height: 93vh;
    border-radius: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-login{
    background-color: #fff;
    width: 58vw;
    height: 93vh;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-de-cadastro{
    background-color: #3b9140;
    width: 38vw;
    height: 93vh;
    border-radius: 10px;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-de-login{
    background-color: #fff;
    width: 58vw;
    height: 93vh;
    margin-left: -2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-button{
    width: 12vw;
    height: 6vh;
    margin-top: 220px;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.area-buttons{
    width: 12vw;
    height: 6vh;
    margin-top: 120px;
    border-radius: 20px;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    width: 12vw;
    height: 6vh;
    margin-top: 20px;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.area-text{
    width: 26vw;
    height: 6vh;
    border-radius: 15px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 20px;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.text-cad{
    width: 26vw;
    height: 6vh;
    border-radius: 15px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 10px;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.text-title{
    font-size: 32px;
    margin-top: 95px;
    margin-bottom: 5px;
    color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-titles{
    font-size: 28px;
    margin-top: 135px;
    margin-bottom: 8px;
    color: #ecece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub-text{
    font-size: 17px;
    color: #ecece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub-texts{
    font-size: 18px;
    color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
