*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.area-header{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: #3333335f;
}
.area-d{
    /* background-color: #3333332d; */
    width: 96vw;
    height: 94vh;
    margin-left: 2px;
    border-radius: 6px;
    /* background-color: #3333333f; */
    background-color: #fff;
}
.guia-principal{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 0;
    /* margin-top: -2px; */
    margin-left: -5px;
    background-color: #3b9140;
}
.house{
    color: #fff;
    margin-top: 8px;
    margin-left: 8px;
}
.search{
    color: #3333335f;
    /* padding-top: 30px; */
    margin-left: -800px;
}
.guia{
    display: flex;
    flex-direction: column;
    margin: 80px 900px 50px 20px;
    gap: 80px;
    color: #3b9140;
}
.linha{
    width: 3px;
    height: 94vh;
    background-color: #3b9140;
    margin-top: -555px;
    margin-left: 74px;
}
.categoria{
    color: #3b9140;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-top: -190px;
    margin-left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text{
    width: 60vw;
    height: 4.5vh;
    border-radius: 15px;
    margin-left: 85px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 20px;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    z-index: 1;
}
.area-cadastro{
    background-color: #3b9140;
    width: 38vw;
    height: 93vh;
    border-radius: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-login{
    background-color: #fff;
    width: 58vw;
    height: 93vh;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-de-cadastro{
    background-color: #3b9140;
    width: 38vw;
    height: 93vh;
    border-radius: 10px;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-de-login{
    background-color: #fff;
    width: 58vw;
    height: 93vh;
    margin-left: -2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-button{
    width: 12vw;
    height: 6vh;
    margin-top: 220px;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.area-buttons{
    width: 12vw;
    height: 6vh;
    margin-top: 120px;
    border-radius: 20px;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    width: 12vw;
    height: 6vh;
    margin-top: 20px;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.area-text{
    width: 26vw;
    height: 6vh;
    border-radius: 15px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 20px;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.text-cad{
    width: 26vw;
    height: 6vh;
    border-radius: 15px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 10px;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.text-title{
    font-size: 32px;
    margin-top: 95px;
    margin-bottom: 5px;
    color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-titles{
    font-size: 28px;
    margin-top: 135px;
    margin-bottom: 8px;
    color: #ecece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub-text{
    font-size: 17px;
    color: #ecece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub-texts{
    font-size: 18px;
    color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
