*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/* Area principal que aborta toda a página, com um body */
.area-header{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: #3333335f;
}

/* Aborda toda a area de exibição dos livros existentes na pagina */
.categoria{
    color: #3b9140;
    display: flex;
    flex-direction: column;
    margin-bottom: -5px;
    font-size: 25px;
    padding-top: -5000px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 20 !important;
    position: relative;
}

/* A caixa junta meu texto e livros, representado por categoria, area-livros e livros */
.caixa{
    overflow-y: auto; 
    position: fixed;
    top: 0; 
    left: 0;
    width: 90vw; 
    height: 78vh;
    z-index: 10;
    background-color: #ffffff;
    margin-left: 110px;
    margin-top: 100px;
}
.caixas{
    overflow-y: auto; 
    position: fixed;
    top: 0; 
    left: 0;
    width: 45vw; 
    height: 78vh;
    z-index: 10;
    background-color: #b62929;
    /* background-color: #9b1a1a; */
    margin-left: 110px;
    margin-top: 100px;
}

/* É o nomes dos livros */
.text-livro{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 200px;
}

/* Busca o conjuntos fotos e nomes dos livros */
.area-livros{
    width: 80vw;
    height: 50vh;
    margin: 5px auto 0 auto;
    display: flex;
    margin-left: 10px;
    padding: 3px;
    gap: 90px;
    overflow-x: scroll;
    position: relative;
    /* scrollbar-width: none; */
}
::-webkit-scrollbar {
    display: none; /* Oculta a barra de scroll */
}

/* Junta nomes dos livros */
.livro{
    min-width: 10vw;
    max-height: 30vh;
    background-color: #b4b1b1;
    margin-left: 30px;
    position: relative;
}
.livros{
    width: 15vw;
    height: 45vh;
    background-color: #b4b1b1;
    margin-left: -250px;
    margin-top: 30px;
    position: relative;
}

.area-d{
    width: 96vw;
    height: 94vh;
    margin-left: 2px;
    border-radius: 6px;
    background-color: #fff;
}
.guia-principal{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 0;
    /* margin-left: -500px; */
    background-color: #3b9140;
}
.guia{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin: 80px 900px 50px 15px;
    gap: 80px;
    color: #3b9140;
}


/* Icons */
.house{
    color: #fff;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
}
.houser{
    color: #3b9140;
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
}
.bookmark{
    color: #fff;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
}
.bookmarkr{
    color: #3b9140;
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
}
.clock{
    cursor: pointer;
}
.gear{
    cursor: pointer;
}
.search{
    color: #3333335f;
    padding-top: 16px;
    margin-left: -800px;
    top: 0;
    left: 0; 
    z-index: 10;
}
.searchr{
    color: #3333335f;
    padding-top: 16px;
    margin-left: -530px;
    top: 0;
    left: 0;
    z-index: 10;
}

/* É a linha que divide a guia e o resto do body */
.linha{
    width: 3px;
    height: 94vh;
    background-color: #3b9140;
    margin-top: -568px;
    margin-left: 74px;
}


/* Areas de delimitação dos form */
.area-cadastro{
    background-color: #3b9140;
    width: 38vw;
    height: 93vh;
    border-radius: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-login{
    background-color: #fff;
    width: 58vw;
    height: 93vh;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-emprestimo{
    background-color: #63a557;
    width: 45vw;
    height: 94vh;
    margin-left: 700px;
    margin-top: -602px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-de-cadastro{
    background-color: #3b9140;
    width: 38vw;
    height: 93vh;
    border-radius: 10px;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-de-login{
    background-color: #fff;
    width: 58vw;
    height: 93vh;
    margin-left: -2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Manipulação dos button */
.area-button{
    width: 12vw;
    height: 6vh;
    margin-top: 220px;
    border-radius: 20px;
    border-color: #fff;
    cursor: pointer;
    color: #fff;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.area-buttons{
    width: 12vw;
    height: 6vh;
    margin-top: 120px;
    border-radius: 20px;
    border-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
    background-color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button{
    width: 12vw;
    height: 6vh;
    margin-top: 20px;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
    background-color: #3b9140;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.area-text{
    width: 26vw;
    height: 6vh;
    border-radius: 15px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 20px;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-left: 15px;
}
.text{
    width: 60vw;
    height: 4.5vh;
    border-radius: 15px;
    margin-left: 85px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 20px;
    border: 0;
    padding-left: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    z-index: 1;
}
.min-text{
    width: 40vw;
    height: 4.5vh;
    border-radius: 15px;
    margin-left: 85px;
    background-color: #d7d5d4;
    margin-top: 20px;
    border: 0;
    padding-left: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    z-index: 1;
}
.text-cad{
    width: 26vw;
    height: 6vh;
    border-radius: 15px;
    background-color: #d7d5d4;
    outline: none;
    margin-top: 10px;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-left: 15px;
}

.area-descricao{
    display: flex;
    /* align-items: center; */
    /* gap: 80px; */
    justify-content: space-evenly;
    margin-right: 100px;
}
.area-descricoes{
    display: flex;
    /* align-items: center; */
    /* gap: 80px; */
    justify-content: space-evenly;
    margin-right: -100px;
    margin-top: -10px;
}
.name-book{
    font-size: 32px;
    margin-top: 50px;
    /* margin-bottom: 5px; */
    margin-left: -280px;
    color: #3b9140;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Titulo principal */
.text-title{
    font-size: 32px;
    margin-top: 95px;
    margin-bottom: 5px;
    color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-titles{
    font-size: 28px;
    margin-top: 135px;
    margin-bottom: 8px;
    color: #ecece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sub-titulo */
.sub-text{
    font-size: 17px;
    color: #ecece9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub-texts{
    font-size: 18px;
    color: #3b9140;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
